/* define font faces for your book here and place the files in  */

/* Raleway supports these features 
   font-feature-settings: "salt" on;
   font-feature-settings: "aalt" off;
   font-feature-settings: "dlig" off;
   font-feature-settings: "lnum" on;
   font-feature-settings: "onum" off;
   font-feature-settings: "salt" on;
   font-feature-settings: "smcp" off;
   font-feature-settings: "ss01" off;
   font-feature-settings: "ss02" off; 
*/

@font-face {
   font-family: 'Abel';
   font-style: regular;
   font-weight: 400;
   src: url(Abel-Regular.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: Italic;
   font-weight: 300;
   src: url(Raleway-LightItalic.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: Italic;
   font-weight: 400;
   src: url(Raleway-Italic.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: Italic;
   font-weight: 700;
   src: url(Raleway-BoldItalic.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 300;
   src: url(Raleway-Light.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: url(Raleway-Regular.woff2) format('woff2');
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   src: url(Raleway-Bold.woff2) format('woff2');
}

@font-face {
   font-family: 'Fate';
   font-style: normal;
   font-weight: 400;
   src: url(Fate-Icons.woff2) format('woff2');
}